body#o-apartmanima-sr {
  background: url(/img/destinacija/destinacija2.jpg) no-repeat top fixed;
}

.apartmani {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100vh;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 2fr 1fr;
  padding: 10vh 10vw;
  padding-top: calc(10vh + 50px);
  justify-content: center;
  align-items: center;
  text-align: left;
  color: $dark-dark-gray;
  @media (min-width: 768px) and (max-width: 1024px) {
    padding: 10vh 0 10vh 5vw;
    grid-template-columns: 3fr 2fr;
  }
  @media (max-width: 767px) {
    padding: 10vh 5vw;
    grid-template-columns: 1fr;
    height: auto;
  }

  .apartmani--text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h1 {
      margin-top: 0;
      color: $accent;
    }
    @media (max-width: 767px) {
      grid-row: 2;
    }
  }

  .apartmani__img {
    display: flex;
    flex-direction: column;
    height: auto;
    @media (max-width: 767px) {
      grid-row: 1;
    }

    img {
      object-fit: cover;
      height: 60vh;
      border: 6px solid $white;
      outline: 8px solid $light-gray;
    }
  }
}
.apartmani--gallery {
  background-color: rgba($accent, 0.8);
  padding: 5em 10vw;
  .photo-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1em;
    .gallery__img {
      overflow: hidden;
      border: 3px solid rgba($white, 0.5);
      height: 200px;
    }
    img {
      height: 200px;
      object-fit: cover;
      transition: transform 0.3s;
      cursor: pointer;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
