.booking {
  width: 340px;
  padding: 1em 0;
  background-color: rgba($white, 1);
  position: fixed;
  height: 60px;
  bottom: 0px;
  left: 1em;
  right: 0;
  z-index: 997;
  transition: left 0.5s ease-in-out, width 0.5s ease-in-out 0.5s,
    height 0.5s ease-in-out 1s;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  @media only screen and (max-width: 888px) {
    margin-left: 0;
    left: 0;
    width: 100%;
  }
  @media only screen and (max-width: 663px) {
    bottom: 0px;
  }

  .container {
    max-width: 80em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
  }

  button {
    width: 100%;
    height: 2.8em;
  }
  input {
    width: 100%;
    background-color: transparent;
    border: 2px solid $gray;
    &:hover {
      border-color: $accent;
    }
    &:focus,
    &:active,
    &:focus-within,
    &:visited {
      border-color: $dark-gray;
    }
  }
  h2 {
    margin-bottom: 0.5em;
    margin-top: 0;
    padding-left: 1rem;
    font-size: 1.5em;
  }
}
.booking.kliz {
  left: 10%;
  right: 10%;
  width: 80%;
  height: 160px;
  background-color: rgba($white, 0.95);
  @media only screen and (max-width: 768px) {
    bottom: 0px;
    width: 90%;
    height: 160px;
    left: 5%;
    right: 5%;
  }
  @media only screen and (max-width: 666px) {
    bottom: 0px;
    width: 90%;
    height: 330px;
    left: 5%;
    right: 5%;
  }
}
// book button
.booking i {
  font-size: 1.5em;
  line-height: 1.5;
  right: 1em;
  position: absolute;
  transition: opacity 0.3s;
}
.booking i.fa-sort-amount-up-alt,
.booking.kliz i.fa-times {
  opacity: 1;
}
.booking i.fa-times,
.booking.kliz i.fa-sort-amount-up-alt {
  opacity: 0;
}

.booking__forma {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-self: center;
  grid-gap: 2em;
  padding: 0 1rem;
  @media only screen and (max-width: 888px) {
    grid-gap: 1em;
  }
  @media only screen and (max-width: 663px) {
    grid-gap: 1em;
    grid-template-columns: 1fr;
  }
}
.advanced_form_link {
  font-size: 0.9em;
  line-height: 1.4em;
}
.form_date {
  position: relative;
}
.form_date i {
  font-size: 0.9em;
  position: absolute;
  display: block;
  top: 53%;
  right: 0;
  margin: -6px 8px 0 0;
  color: #9e9e9e;
}

.datepicker:hover {
  cursor: pointer;
}

.book-btn {
  color: $accent;
  cursor: pointer;
}

/* datepicker */
.datepicker.dropdown-menu {
  font-size: 1em;
}
.datepicker-dropdown {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
  font-size: 1em;
}

.datepicker-dropdown.datepicker {
  padding: 15px;
  border-radius: 2px;
  border: 1px solid #f5f5f5;
}

.datepicker-dropdown.datepicker .datepicker-switch {
  color: #a9a9a9;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  background: #e4e5e7;
  border: 1px solid #dadbdd;
  border-right: 0;
  border-left: 0;
}

.datepicker-dropdown.datepicker .datepicker-switch:hover {
  cursor: pointer;
}

.datepicker-dropdown.datepicker .prev,
.datepicker-dropdown.datepicker .next {
  padding: 0 !important;
  margin: 0 !important;
  text-align: center;
  width: 30px !important;
  height: 30px !important;
  background: #e4e5e7;
  border: 1px solid #dadbdd;
  border-radius: 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.datepicker-dropdown.datepicker .prev:hover,
.datepicker-dropdown.datepicker .next:hover {
  cursor: pointer;
  background: #ffb600;
  border-color: #ffb600;
  color: #fff;
}

.datepicker-dropdown.datepicker .day {
  padding: 10px 12px;
  color: #a1b1c1;
  background: #f4fafd;
  border: 1px solid #e7eef1;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.datepicker-dropdown.datepicker .new.day {
  background: #fefefe;
}

.datepicker-dropdown.datepicker .day.disabled {
  background: #fbf5f5;
  color: #a1b1c1;
  border-color: #ede8ea;
}

.datepicker-dropdown.datepicker .day:hover {
  cursor: pointer;
  background: #1dc1f8;
  border-color: #1dc1f8;
  color: #fff;
}

.datepicker-dropdown.datepicker .day.disabled:hover {
  cursor: not-allowed;
  background: #fbf5f5;
  color: #a1b1c1;
  border-color: #ede8ea;
}

.datepicker-dropdown.datepicker .day.today {
  background: #1dc1f8;
  color: #fff;
}

.datepicker-dropdown.datepicker .datepicker-months,
.datepicker-dropdown.datepicker .datepicker-years,
.datepicker-dropdown.datepicker .datepicker-decades,
.datepicker-dropdown.datepicker .datepicker-centuries {
  max-width: 301px;
}

.datepicker-dropdown.datepicker .datepicker-months table tr td,
.datepicker-dropdown.datepicker .datepicker-years table tr td,
.datepicker-dropdown.datepicker .datepicker-decades table tr td,
.datepicker-dropdown.datepicker .datepicker-centuries table tr td {
  padding: 0;
  padding-top: 10px;
}

.datepicker-dropdown.datepicker .month,
.datepicker-dropdown.datepicker .year,
.datepicker-dropdown.datepicker .decade,
.datepicker-dropdown.datepicker .century {
  display: inline-block;
  width: 50px;
  padding: 10px 0;
  color: #a1b1c1;
  background: #f4fafd;
  border: 1px solid #e7eef1;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.datepicker-dropdown.datepicker .month:hover,
.datepicker-dropdown.datepicker .year:hover,
.datepicker-dropdown.datepicker .decade:hover,
.datepicker-dropdown.datepicker .century:hover {
  background: #1dc1f8;
  border-color: #1dc1f8;
  color: #fff;
  cursor: pointer;
}
.datepicker-dropdown.datepicker .month.disabled,
.datepicker-dropdown.datepicker .year.disabled,
.datepicker-dropdown.datepicker .decade.disabled,
.datepicker-dropdown.datepicker .century.disabled {
  background: #fbf5f5;
  color: #a1b1c1;
  border-color: #ede8ea;
}

.datepicker-dropdown.datepicker .month.disabled:hover,
.datepicker-dropdown.datepicker .year.disabled:hover,
.datepicker-dropdown.datepicker .decade.disabled:hover,
.datepicker-dropdown.datepicker .century.disabled:hover {
  cursor: not-allowed;
}
