.destinacija {
  display: grid;
  grid-template-columns: 5fr 2fr;
  height: auto;
  color: $white;
  @media only screen and (max-width: 800px) {
    grid-template-columns: 1fr;
  }
  .dest-img {
    display: inline-flex;
    object-fit: cover;
    object-position: center;
  }
  .container-dest {
    display: flex;
    flex-direction: column;
    background-color: $accent;
    text-align: right;
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
    padding: 4vw;
    margin-left: -4em;
    align-items: flex-end;
    justify-content: center;
    @media only screen and (max-width: 800px) {
      text-align: center;
      align-items: unset;
      margin-left: 0;
      clip-path: none;
    }
    h2 {
      color: $white;
    }
  }
}
