.destinacija__hero {
  display: flex;
  flex-direction: column;
  img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }
}

.destinacija__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: $white;
  color: $dark-dark-gray;
  padding: 6em 10%;
  text-align: center;
  h1 {
    color: $accent;
    margin-bottom: 1em;
  }
}
body#destinacija-sr {
  nav ul li a {
    color: $white;
  }
}
