.hero {
  position: relative;
  img {
    height: 100vh;
    object-fit: cover;
  }
}
.intro__text {
  position: absolute;
  bottom: 20%;
  left: 10%;
  animation: 2s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
  @media only screen and (max-width: 920px) {
    bottom: 10%;
  }
  h2 {
    color: rgba($white, 0.7);
  }
}
@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
