body#kontakt-sr {
  background: url(/img/destinacija/destinacija2.jpg) no-repeat top fixed;
}

.kontakt {
  background-color: rgba(255, 255, 255, 0.8);
  padding-bottom: 1em;
  width: 100%;
  height: 100vh;
  @media only screen and (max-width: 500px) {
    height: auto;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 5%;
    @media only screen and (max-width: 400px) {
      margin-top: 60px;
      justify-content: unset;
    }
  }
}

.kontakt-title {
  font-size: clamp(1.3em, 3vw, 2em);
}
.kontakt__forma {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-gap: 2em;
  //flex-basis: 400px;
  flex-wrap: wrap;
  form {
    display: flex;
    flex-direction: column;
    grid-gap: 1em;
    width: 300px;
    input {
      width: 100%;
    }
  }
}
.address__box {
  outline: 1px solid $white;
  outline-offset: -10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $accent;
  color: $white;
  width: 300px;
  height: 100%;
  h3 {
    font-size: 1.5em;
  }
}

.sent-notification {
  margin: 0.5 0;
  text-align: center;
}
