nav {
  margin: 0.5em auto;

  @media only screen and (max-width: 1023px) {
    position: absolute;
    width: 300px;
    height: 100vh;
    background-color: $accent;
    top: 0;
    bottom: 0;
    right: -300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 998;
    transition: all 0.5s ease-in-out;
    margin: 0 auto;
  }
  ul {
    display: flex;
    flex-direction: row;
    grid-gap: 3em;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 1023px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      grid-gap: 0em;
      padding: 0 1em;
      width: 300px;
    }
    img {
      height: 7rem;
      width: auto;
    }
    li {
      list-style: none;
      @media only screen and (max-width: 1023px) {
        border-bottom: 1px solid rgba($white, 0.2);
        width: 100%;
      }
      a {
        text-decoration: none;
        text-transform: uppercase;
        color: $dark-blue;
        padding-bottom: 1em;
        padding-top: 1em;
        width: 100%;

        @media only screen and (max-width: 1023px) {
          color: $white;
          display: block;
        }
        &:hover,
        &:focus {
          color: $dark-gray;
          @media only screen and (max-width: 1023px) {
            color: $light-gray;
          }
        }
      }
    }
    li:first-of-type {
      @media only screen and (max-width: 1023px) {
        border-top: 1px solid rgba($white, 0.2);
      }
    }
  }
}

nav.active {
  right: 0px;
}

// hamburger button
.menu-btn {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  z-index: 999;
  transition: all 0.5s ease-in-out;
  // border: 3px solid rgba($white, 0.2);
  @media only screen and (min-width: 1024px) {
    display: none;
  }
}

.menu-btn.open {
  transform: translateX(-240px);
}
.menu-btn__burger {
  width: 25px;
  height: 4px;
  background: $accent;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 4px;
  background: $accent;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-8px);
}
.menu-btn__burger::after {
  transform: translateY(8px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
  background: $white;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
  background: $white;
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
  background: $white;
}
