.sobe {
  margin-top: 126px;
}
.sobe__title {
  margin-top: 116px;
}

.soba {
  display: grid;
  height: auto;
  @media only screen and (max-width: 800px) {
    grid-template-columns: 1fr;
  }
  img {
    display: inline-flex;
    object-fit: cover;
    object-position: center;
  }
}
.soba__text {
  display: flex;
  flex-direction: column;
  background-color: $light-gray;
  padding: 4vw;
  justify-content: center;
  @media only screen and (max-width: 800px) {
    text-align: center;
    align-items: unset;
    margin: 0;
    clip-path: none;
  }
  h1 {
    color: $accent;
  }
}

.soba__levo {
  grid-template-columns: 5fr 3fr;
  .soba__text {
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
    text-align: right;
    margin-left: -5em;
  }
}

.soba__desno {
  grid-template-columns: 3fr 5fr;
  .soba__text {
    clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%);
    margin-right: -5em;
  }
}
